@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 2.25rem;
}

.separator {
    height: 16px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    max-width: 800px;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 4rem;
}

.card>img {
    width: 180px;
    border-radius: 10%;
}

.card>div {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
}

.card>div>h2 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25rem;
}


.card>div>p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 0.875rem;
    color: #4D5562;
}